<div class="container">
  <header class="jumbotron">
    <h1>Elite Bloggers</h1>
  </header>
  {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Feel free to ask contact us for any questions!
    {{/link-to}}
  </footer>
</div>
